*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --nvbg:#5163d9;
    --nav-btn:#8593931c;
    --darkm: #232326;
}
body{
    background-color: #232326;
    color: #fff;
}

/* predefined properties */
.flex{
    display: flex;
}
.deco{
    text-decoration: none;
}

/* navigation */

.nav{
    color: #fff;
    justify-content:space-between;
    border-radius: 5px;
    align-items: center;
    padding: 10px;
    background-color: var(--nvbg);
}

.pro{
    text-decoration: none;
    color: #fff;
    transition:0.2s ease-in-out all;
}
span{
    display: flex;
    justify-content: center;
}
.right{
    transition: 0.3s ease-in-out all;
    padding: 5px 10px;
    border-radius: 10px;
}

.left .nan >.navli{
    list-style-type:none;
    padding: 5px 20px;
    color: #fff ;
     /* border: 2px solid red; */
    margin: 5px 10px;
    border-radius: 25px;
    width: 90px;
    transition: 0.3s ease-in-out all;

}
.pro:hover,.right:hover ,li:hover{
    transform: scale(1.09);
    box-shadow: -2px 2px 4px rgba(255, 0, 0, 0.607),2px 0px 5px blue;
    color: black;
}

/* menu */
.list{
    position: relative;
}
.menu{
    position:   absolute;
    left: 0;
top: calc(100% + .95rem);
background-color: #5163d9;
padding: .75rem .55rem;
border-radius: .25rem;
box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
opacity: 1;

}

.list>lin:focus +.menu{
    opacity: 1;
}

/* First view (intro) */

#intro{
height:80vh;
display: flex;
align-items: center;
justify-content: center;
}
#intro::before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 80vh;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    background: url('../Img/iman-gozal-EPxVDc_xeWA-unsplash.jpg')  center center/cover fixed;
}
